<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem id="menu_is_dt_tables_is_fiche_tampographie_constituant" sequence="100" name="Constituant Tampographie"  parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_constituant"/>
        <menuitem id="menu_is_fiche_tampographie_type_reglage"             sequence="101" name="Type réglage Tampographie" parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_type_reglage"/>

        <record id="menu_is_dt_tampographie" model="ir.ui.menu">
	        <field name="name">Tampographie</field>
	        <field name="sequence">89</field>
	        <field name="parent_id" eval="ref('is_plastigray.menu_is_donnees_techniques')"/>
	        <field name="groups_id" eval="[(6,0,[ref('is_plastigray.is_gestionnaire_tables_group')])]"/>
	    </record>

        <menuitem id="menu_is_fiche_tampographie" sequence="1" name="Tampographie" parent="menu_is_dt_tampographie" action="action_is_fiche_tampographie" />

    </data>
</openerp>