<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>


        <record id="is_article_menu" model="ir.ui.menu" >
            <field name="name">Articles de tous les sites (intégré)</field>
            <field name="sequence">40</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_articles')"/>
            <field name="action"    ref="is_plastigray.is_article_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('is_pg_2019.is_base_principale_grp'),
            ])]"/>
        </record>
        <record id="is_article_actualiser_menu" model="ir.ui.menu" >
            <field name="name">Actualiser les articles</field>
            <field name="sequence">50</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_articles')"/>
            <field name="action"    ref="is_plastigray.is_article_actualiser_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('is_pg_2019.is_base_principale_grp'),
            ])]"/>
        </record>



        <menuitem id="menu_is_dt_tables_is_fiche_tampographie_constituant" sequence="100" name="Constituant Tampographie"  parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_constituant"/>
        <menuitem id="menu_is_fiche_tampographie_type_reglage"             sequence="101" name="Type réglage Tampographie" parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_type_reglage"/>

        <record id="menu_is_dt_tampographie" model="ir.ui.menu">
            <field name="name">Tampographie</field>
            <field name="sequence">89</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_donnees_techniques')"/>
            <field name="groups_id" eval="[(6,0,[ref('base.group_user')])]"/>
        </record>

        <menuitem id="menu_is_fiche_tampographie" sequence="1" name="Tampographie"     parent="menu_is_dt_tampographie" action="action_is_fiche_tampographie" />
        <menuitem id="menu_is_encres_utilisees"   sequence="1" name="Encres utilisées" parent="menu_is_dt_tampographie" action="is_encres_utilisees_action" />

        <!-- Equipement -->
        <menuitem id="menu_sub_main_is_equipement"     sequence="31" name="Equipement"      parent="is_plastigray.menu_main_outillages" />

        <menuitem id="menu_is_equipement"              sequence="10" name="Equipement"      parent="menu_sub_main_is_equipement" action="action_is_equipement" />
        <menuitem id="menu_is_equipement_presse"       sequence="20" name="Presse"          parent="menu_sub_main_is_equipement" action="action_is_equipement_presse" />
        <menuitem id="menu_is_equipement_prechauffeur" sequence="30" name="Prechauffeur"    parent="menu_sub_main_is_equipement" action="action_is_equipement_prechauffeur" />
        <!--<menuitem id="menu_is_equipement_type"         sequence="90" name="Type equipement" parent="menu_sub_main_is_equipement" action="action_is_equipement_type" />-->

        <record id="menu_is_equipement_type" model="ir.ui.menu" >
            <field name="name">Type equipement</field>
            <field name="sequence">90</field>
            <field name="action"    ref="action_is_equipement_type"/>
            <field name="parent_id" eval="ref('is_pg_2019.menu_sub_main_is_equipement')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_plastigray.is_gestionnaire_tables_group')])]"/>
        </record>

        <!-- Head View -->
        <menuitem id="menu_action_is_head_model_form" sequence="30"  parent="base.menu_res_company_global" action="action_is_head_model_form" />

        <!-- Production / Gestion des OT -->
        <menuitem id="menu_action_is_ot_affectation_form" sequence="100" parent="is_plastigray.menu_is_dt_tables" action="action_is_ot_affectation" name="Gestion des OT Affectation"/>
        <record id="is_gestion_des_ot_menu" model="ir.ui.menu" >
            <field name="name">Gestion des OT</field>
            <field name="sequence">28</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_pg_2019.is_base_principale_grp')])]"/>
        </record>
        <!--<menuitem id="menu_action_is_ot_form"                     sequence="10" parent="is_gestion_des_ot_menu" action="action_is_ot" />-->
        <menuitem id="menu_action_is_ot_creation_state"           sequence="30" parent="is_gestion_des_ot_menu" action="action_is_ot_creation"            name="Création"/>
        <menuitem id="menu_action_is_ot_analyse_ot_state"         sequence="40" parent="is_gestion_des_ot_menu" action="action_is_ot_analyse_ot"          name="Analyse de l'OT"/>
        <menuitem id="menu_action_is_ot_travaux_a_realiser_state" sequence="50" parent="is_gestion_des_ot_menu" action="action_is_ot_travaux_a_realiser"  name="Travaux à réaliser"/>
        <menuitem id="menu_action_is_ot_travaux_a_valider_state"  sequence="60" parent="is_gestion_des_ot_menu" action="action_is_ot_travaux_a_valider"   name="Travaux à valider"/>
        <menuitem id="menu_action_is_ot_annule_state"             sequence="70" parent="is_gestion_des_ot_menu" action="action_is_ot_annule"              name="Annulé"/>
        <menuitem id="menu_action_is_ot_termine_state"            sequence="80" parent="is_gestion_des_ot_menu" action="action_is_ot_termine"             name="Terminé"/>
        <menuitem id="is_ot_tous_menu"                            sequence="85" parent="is_gestion_des_ot_menu" action="is_ot_tous_action"                name="Tous les OTs"/>
        <menuitem id="is_ot_indicateur_menu"                      sequence="90" parent="is_gestion_des_ot_menu" action="is_ot_indicateur_action"          name="Indicateurs"/>


        <!-- Contrôle 100% -->
        <record id="menu_is_controle_100" model="ir.ui.menu" >
            <field name="name">Contrôle 100%</field>
            <field name="sequence">43</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
        </record>







        <menuitem id="menu_is_ctrl100_gamme_mur_qualite"  sequence="2" name="Gamme mur qualité"    parent="menu_is_controle_100" action="is_ctrl100_gamme_mur_qualite_action" />
        <menuitem id="menu_is_ctrl100_defautheque"        sequence="4" name="Défauthèque"          parent="menu_is_controle_100" action="is_ctrl100_defautheque_action" />
        <menuitem id="menu_is_ctrl100_defaut"             sequence="5" name="Défauts"              parent="menu_is_controle_100" action="is_ctrl100_defaut_action" />
        <menuitem id="menu_is_ctrl100_rapport_controle"   sequence="6" name="Rapport de contrôle"  parent="menu_is_controle_100" action="is_ctrl100_rapport_controle_action" />
        <menuitem id="is_ctrl100_pareto_menu"             sequence="7" name="Pareto"               parent="menu_is_controle_100" action="is_ctrl100_pareto_action" />
        <record id="is_ctrl100_typologie_produit_menu" model="ir.ui.menu" >
            <field name="name">Typologie de produit</field>
            <field name="sequence">90</field>
            <field name="action"    ref="is_ctrl100_typologie_produit_action"/>
            <field name="parent_id" eval="ref('is_pg_2019.menu_is_controle_100')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_plastigray.is_qualite_group')])]"/>
        </record>
        <record id="is_ctrl100_operation_standard_menu" model="ir.ui.menu" >
            <field name="name">Opérations standard</field>
            <field name="sequence">92</field>
            <field name="action"    ref="is_ctrl100_operation_standard_action"/>
            <field name="parent_id" eval="ref('is_pg_2019.menu_is_controle_100')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_plastigray.is_qualite_group')])]"/>
        </record>




        <!-- Production / Préventif moule -->
        <record id="is_preventif_moule_main_menu" model="ir.ui.menu" >
            <field name="name">Préventif moule</field>
            <field name="sequence">29</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_pg_2019.is_base_principale_grp')])]"/>
        </record>
        <menuitem id="is_mold_preventif_menu"  sequence="10" parent="is_preventif_moule_main_menu" action="is_mold_preventif_action"  name="Préventif Moules"/>
        <menuitem id="is_preventif_moule_menu" sequence="20" parent="is_preventif_moule_main_menu" action="is_preventif_moule_action" name="Historique des préventifs"/>
        <menuitem id="is_mold_cycle_menu"      sequence="30" parent="is_preventif_moule_main_menu" action="is_mold_cycle_action"      name="Cycles des moules"/>


        <!-- Production / Etiquettes GALIA -->
        <record id="is_galia_base_main_menu" model="ir.ui.menu" >
            <field name="name">Étiquettes GALIA</field>
            <field name="sequence">110</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_pg_2019.is_base_principale_grp')])]"/>
        </record>
        <menuitem id="is_galia_base_menu" sequence="10" parent="is_pg_2019.is_galia_base_main_menu" name="Étiquettes GALIA" action="is_plastigray.is_galia_base_action"/>


        <!-- Tables Moules -->
        <record id="menu_tables_moules" model="ir.ui.menu" >
            <field name="name">Tables Moules</field>
            <field name="sequence">130</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_donnees_techniques')"/>
        </record>
        <menuitem id="menu_is_mold_operation_systematique" sequence="1" parent="menu_tables_moules" action="is_mold_operation_systematique_action" name="Opérations systématiques" />
        <menuitem id="menu_is_mold_operation_specifique" sequence="2" parent="menu_tables_moules" action="is_mold_operation_specifique_action" name="Opérations spécifiques" />
        <menuitem id="menu_is_mold_specification_particuliere" sequence="3" parent="menu_tables_moules" action="is_mold_specification_particuliere_action" name="Spécifications particulières" />
        <menuitem id="menu_is_mold_frequence_preventif" sequence="4" parent="menu_tables_moules" action="is_mold_frequence_preventif_action" name="Fréquence préventif moule" />
        <menuitem id="menu_is_mold_piece_specifique" sequence="5" parent="menu_tables_moules" action="is_mold_piece_specifique_action" name="Pièces spécifiques" />
        <menuitem id="menu_is_mold_surface_aspect" sequence="6" parent="menu_tables_moules" action="is_mold_surface_aspect_action" name="Surface d'aspect" />
        

        <!-- Contrôle budgétaire Tdb -->
        <record id="is_ctrl_budget_tdb_main_menu" model="ir.ui.menu" >
            <field name="name">Ctrl budgétaire Tdb</field>
            <field name="sequence">3</field>
            <field name="parent_id" eval="ref('account.menu_finance')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_pg_2019.is_base_principale_grp')])]"/>
        </record>
        <menuitem 
            action="is_ctrl_budget_tdb_saisie_action" 
            id="is_ctrl_budget_tdb_saisie_menu" 
            parent="is_ctrl_budget_tdb_main_menu" 
            sequence="10"
        />
        <menuitem 
            action="is_ctrl_budget_tdb_intitule_action" 
            id="is_ctrl_budget_tdb_intitule_menu" 
            parent="is_ctrl_budget_tdb_main_menu" 
            sequence="20"
        />
        <menuitem 
            action="is_ctrl_budget_tdb_famille_action" 
            id="is_ctrl_budget_tdb_famille_menu" 
            parent="is_ctrl_budget_tdb_main_menu" 
            sequence="30"
        />


        <!-- Contrôle budgétaire Analytique -->
        <record id="is_ctrl_budget_ana_main_menu" model="ir.ui.menu" >
            <field name="name">Ctrl budgétaire Analytique</field>
            <field name="sequence">3</field>
            <field name="parent_id" eval="ref('account.menu_finance')"/>
            <field name="groups_id" eval="[(6,0,[ref('is_pg_2019.is_base_secondaire_grp')])]"/>
        </record>
        <menuitem 
            action="is_ctrl_budget_ana_annee_action" 
            id="is_ctrl_budget_ana_annee_menu" 
            parent="is_ctrl_budget_ana_main_menu" 
            sequence="10"
        />




        <!-- Absences -->
        <menuitem
            name="Absences"
            id="menu_absences_root"
            sequence="89"
        />
        <menuitem
            name="Gestion des absences"
            id="menu_hr_gestion_des_absences"
            parent="menu_absences_root"
            sequence="10"
        />
        <menuitem
            name="Demande de congés"
            id="menu_is_of_en_cours"
            parent="menu_hr_gestion_des_absences"
            sequence="10"
            action="is_demande_conges_action"
        />
        <menuitem
            id="menu_is_demande_absence"
            parent="menu_hr_gestion_des_absences"
            name="Absence"
            groups="is_pg_2019.is_gestionnaire_des_absences_group"
            sequence="20"
            action="is_demande_absence_action"
        />
        <menuitem
            id="menu_is_demande_absence_type"
            parent="menu_hr_gestion_des_absences"
            name="Type d’absence"
            groups="is_pg_2019.is_gestionnaire_des_absences_group"
            sequence="30"
            action="is_demande_absence_type_action"
        />
        <menuitem
            id="is_employe_absence_menu" 
            parent="menu_hr_gestion_des_absences"
            name="Employés"
            sequence="40"
            action="is_employe_absence_action"
        />
        <menuitem
            id="is_droit_conges_menu"
            parent="menu_hr_gestion_des_absences"
            name="Droit aux congés"
            groups="is_pg_2019.is_gestionnaire_des_absences_group"
            sequence="50"
            action="is_droit_conges_action"
        />


        <!-- Ressources Humaines -->
        <menuitem
            id="is_hr_job_menu"
            parent="hr.menu_hr_configuration"
            name="Postes"
            sequence="90"
            action="is_hr_job_action"
        />


    </data>
</openerp>
